.main-docs {
    height: 100vh;
    overflow: auto;
    background-color: #6d4cd4;
    color: white;
    padding: 20px;
}

.docs {
    margin-bottom: 40px;
}

.docs-label {
    font-size: 24px;
    font-weight: bold;
}

.mlti-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.docs-btn {
    display: flex;
    margin-top: 20px;
    padding: 15px;
    border-radius: 6px;
    border: 0;
    font-size: 18px;
    cursor: pointer;
    background-color: #4e0eff;
    color: #fff;
}

.back-btn {
    display: flex;
    justify-content: flex-start;
}

.back-btn img{ 
    max-width: 9px;
    margin-right: 3px;
    margin-top: -5px;
}

.back-btn span{ 
    margin-right: 8px;
}

.back {
    margin-top: 0 !important;
    margin-bottom: 20px;
    background-color: transparent;
    text-decoration: none;
    padding: 15px 0;
}

.back.welcome{
    padding: 15px 0 !important;
}

.main_page{
    overflow: auto;
    display: grid;
}

.XbT{
    overflow: hidden;
}